
   /* Add your custom styles here */
   .carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  #myCarousel .carousel-content #dreamhome{
    margin-top: 150px;
  }
    #cardhome{
        width: 100%;
        display: block;
    }
    .ui-card{
        width: 95%;
        background: radial-gradient(#111 50%, #000 100%);
    }
    .ui-card img{
        transform: scal(1.3);
        transition: all 0.3s ease-out;
    }
    .ui-card:hover img{
        transform: scale(1.1) translateY(-20px);
        opacity: 0.3;
    }
    .description{
       position: absolute;
       left: 0;
       bottom: 0;
       width: 100%;
       padding: 15px;
       text-align: center;
       color: #fff;
       font-size: 18px;
    }
    .description h3{
        font-weight: 700;
        font-size: 32px;
        margin: 0 0 20px;
        transform: translateY(30px);
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .description p{
        transform: translateY(30px);
        opacity: 0;
    }
    .description a{
        color:#fff;
        background: #34aff3;
        display: inline-block;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 5px;
        transform: translateY(30px);
        opacity: 0;
        transition: all 0.3s ease-out 0.4s;
    }
    .description a:hover{
        background: #0e6290;
    }
    .ui-card:hover .description h3{
        transform: translateY(0);
        opacity: 1;
    }
    .ui-card:hover .description p{
        transform: translateY(0);
        opacity: 1;
    }
    .ui-card:hover .description a{
        transform: translateY(0);
        opacity: 1;
    }
    .card {
        margin-bottom: 20px;
      }
 