.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
    text-indent: 2px;
}
#aboutreal{
    position: relative;
    top:30px
}
#benifitimg{
    width: 100%;
}
#footer a{
    text-decoration: none;
}

#footer a i:hover{
    color: darkgrey;
}

